.updateProduct {
    background-color: #999999;
    width: 25vw;
}

.title {
    color: #9b1fb9;
    font-weight: 600;
    padding-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

.updateProduct .inputField {
    width: 20vw;
}

.updateProduct button {
    margin-top: 10px;
    margin-left: 5px;
}

.updateProduct .button1 {
    margin-left: 15vw;
}