<mat-card class="updateProduct mat-elevation-z3">
    <mat-card-title class="title">
        Update Product
    </mat-card-title>
    <form>
        <mat-form-field class="inputField">
            <input matInput placeholder="Name" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field class="inputField">
            <input matInput placeholder="Price (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click)="updateProduct()" color="primary" class="button1">
        Save
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>