.navegacao {
    height: 87vh;
}

.sidenav {
    background-color: #444444;
    width: 200px;
    height: 87vh;
}

.sidenav a {
    color: #FFFFFF;
}

.sidenav a i {
    padding-right: 10px;
}

.content {
    background-color: #CCCCCC;
    background-size: cover;
    height: 87vh;
    padding: 16px;
}