.deleteProduct {
    background-color: #555555;
    width: 25vw;
}

.title {
    color: #999999;
    font-weight: 600;
    padding-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

.deleteProduct .inputField {
    width: 20vw;
}

.deleteProduct button {
    margin-top: 10px;
    margin-left: 5px;
}

.deleteProduct .button1 {
    margin-left: 15vw;
}